@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body{
    direction: rtl;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.picture{
    width: 55%;
    background-image: url(../images/Coffee@2x.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.format{
    width: 45%;
}
.content{
    width: 45%;
    padding: 25px 25px;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    
}
h1{
    font-size: 43px;
    font-weight: 500px;
    font-family: "Heebo", sans-serif;
    color: #020253;
}
p{
    font-family: "Heebo", sans-serif;
    color: #020253;
    font-size: 20px;
}

.name{
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2C2C2C;
}
input.name{
    width: 400px;
    background-color: #E5EEFF;
    border-color: white;
    border-bottom-color: #020253;
}

input[type=submit]{
    padding: 5px 45px;
    width: 150px;
    background: #020253;
    font-family: "Heebo", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    

}


@media screen and (max-width: 1200px) {
    .format{
        width: 100%;
        margin-bottom: 50vh;
        padding: 0;
    }
    .content{
        padding: 0;
        margin: 0 auto;
        transform: none;
    }

    .main{
        flex-direction: column-reverse;
    }
    .picture{
      width: 100%;
      height: 50vh;
    }
}

@media screen and (max-width: 600px){

    input.name{
        width: 100%;
    }
    input[type=submit]{
        font-size: 14px;
        width: 100%;
    }
    .name{
        font-size: 10px;
    }
    h1{
        font-size: 28px;
        text-align: center;
    }
    p{
        font-size: 15px;
        text-align: center;
    }
}

    
